.text1{
  color: red;
}

.text2{
  color: yellow;
}

.text3{
  color: greenyellow;
}

.color{
  background-color: rgb(0, 115, 247);
}


.color a{
  color: white;
}

.dev{
  color:rgb(46, 44, 42);
}



.navbar-light .navbar-nav .nav-link.active1, .navbar-light .navbar-nav .nav-link.active1:focus, .navbar-light .navbar-nav .nav-link.active1:hover {
  color: white;
}