.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

.logo-font{
  color: rgb(43, 44, 35);
}


.home-page .banner{
  background-image: linear-gradient(to top, #17bbc4 0%, #f1e5ad 100%);
} 

